.homepage-container {
    width: 80%;
    background-color: white;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 5px;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
}

.intro-section {
    background-color: rgb(203, 207, 175); 
    padding: 20px;
    text-align: center;
    margin-bottom: 30px; 
}

.intro-section h2 {
    color:rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 10px;
}

.intro-section p {
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 1.5;
}

.genre-section {
    margin-bottom: 40px; 
}


.genre-section h2 {
    background-color:  rgb(203, 207, 175); 
    padding: 10px 20px;
    border-radius: 5px; 
}

.genre-section .books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 15px;
    row-gap: 30px;
    margin: 0 15px;
}

.book-preview {
    width: 100%; 
    background-color: rgb(235, 246, 246);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    border-radius: 5px;
    transition: transform 0.3s;
    position: relative;
    padding-bottom: 80px;
}

.book-preview:hover {
    transform: translateY(-5px); 
    cursor: pointer;
}

.book-cover {
    width: 99%;
    height: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 1%;
    overflow: hidden;
}

.book-image {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    box-shadow: 0 5px 7px rgba(0,0,0,0.1);

}

.book-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    padding: 0 5px;
}

.book-preview a {
    color: black; 
    text-decoration: none; 
}

.read-borrow-book {
    position: absolute; 
    bottom: 15px; 
    width: 90%; 
    padding: 0 5%;
    display: flex; 
    justify-content: space-between;
    gap: 5px
}

.read-borrow-book button {
    width: 48%; 
    padding: 10px 15px;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.read-borrow-book button a {
    text-decoration: none;
    color: white;
}

.read-borrow-book button:hover {
    background-color: #357ae8; 
}


@media screen and (max-width: 768px) {
    .book-preview {
        margin: 10px auto; 
    }

    .read-borrow-book {
        flex-direction: column; 
    }

    .read-borrow-book button {
        width: 100%;
        margin-bottom: 10px;
    }
}


