

.search-books-container {
    width: 80%;
    margin: 100px auto 0;
    background-color: #ffffff;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 5px;
}

.search-books-container h1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    padding: 20px 0 20px 70px;
}


.results-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 70px;
}

.book-result-card {
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: rgb(235, 246, 246);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    transition: transform 0.3s;
}

.book-result-card:hover {
    transform: translateY(-5px); 
    cursor: pointer;
} 

.image-section {
    width: 150px;
    height: 100%;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    margin-right: 1%;
    overflow: hidden;
    padding-right: 20px;
}

.book-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(0,0,0,0.1);
}

.book-info-and-action-buttons {
    display: flex;
    flex-direction: column;
}


.book-title {
    top: 0;
    font-size: 18px;
    font-weight: bold;
    color: #4a3b8c;
    text-decoration: none;
}

.action-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start; 
    gap: 15px; 
}

.action-buttons button {
    height: 30px;
    width: 150px; 
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-buttons button a {
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.btn-borrow {
    background-color: #007bff;
}

.btn-read-online {
    background-color: #28a745;
}

.btn-borrow:hover, .btn-read-online:hover {
    opacity: 0.9;
    transition: opacity 0.3s ease;
}
